<div class="container mat-elevation-z8">
  <h1 class="titulo">Deletar Chamado</h1>

  <div class="form">
    
    <!-- Título -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título do Chamado</mat-label>
      <input matInput [value]="chamado.titulo" disabled>
    </mat-form-field>

    <div class="status-prioridade">
      <!-- Status -->
      <div class="info-box status-{{chamado.status}}">
        <span class="label">STATUS:</span>
        <span class="valor">{{ retornaStatus(chamado.status) }}</span>
      </div>

      <!-- Prioridade -->
      <div class="info-box prioridade-{{chamado.prioridade}}">
        <span class="label">PRIORIDADE:</span>
        <span class="valor">{{ retornaPrioridade(chamado.prioridade) }}</span>
      </div>
    </div>

    <div class="selecao-pessoas">
      <!-- Técnico -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Técnico Responsável</mat-label>
        <input matInput [value]="chamado.nomeTecnico" disabled>
      </mat-form-field>

      <!-- Cliente -->
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Cliente</mat-label>
        <input matInput [value]="chamado.nomeCliente" disabled>
      </mat-form-field>
    </div>

    <!-- Observações -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Observações</mat-label>
      <textarea matInput [value]="chamado.observacoes" class="textarea" disabled></textarea>
    </mat-form-field>
    
    <div class="datas-info">
        <p><strong>Aberto em:</strong> {{ chamado.dataAbertura }}</p>
        <p *ngIf="chamado.dataFechamento"><strong>Encerrado em:</strong> {{ chamado.dataFechamento }}</p>
    </div>

    <!-- Botões -->
    <div class="button-group">
      <button mat-raised-button color="warn" (click)="delete()">
        <mat-icon>delete</mat-icon> Deletar
      </button>
      <button mat-raised-button color="primary" (click)="cancelar()">
        <mat-icon>arrow_back</mat-icon> Cancelar
      </button>
    </div>

  </div>
</div>