<div class="login-page-container">
  
  <div class="login-card-wrapper">
    <mat-card class="login-mat-card">
      
      <div class="login-card-header">
        <h1 class="login-title">Help Desk<br>Estágio Supervisionado II</h1>
        <span class="login-subtitle">por Samuel Brito</span>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        
        <div class="form-content">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>E-mail (Username)</mat-label>
            <input matInput formControlName="email" type="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="loginForm.get('email')?.invalid">E-mail inválido</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Senha</mat-label>
            <input matInput formControlName="senha" type="password" required>
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="loginForm.get('senha')?.invalid">Senha obrigatória</mat-error>
          </mat-form-field>
        </div>

        <div class="login-card-actions">
           <button mat-raised-button class="btn-login" type="submit" [disabled]="loginForm.invalid">
             LOGIN
           </button>
        </div>

      </form>

    </mat-card>
  </div>

</div>